{% extends 'app/home.html' %}
{% load static %}

    {% block header %}

        <!----Menu desplegable-->
        <style type="text/css">
            .nav * {
                margin:0px;
                padding:0px;
            }
			
			#header {
				margin:-22px;
				width:160px;
				font-family:Arial, Helvetica, sans-serif;
                float:right;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				/*background-color:#000;
				color:#fff;
				text-decoration:none;*/
				padding:10px 5px;
				display:block;
			}
			
			.nav li a:hover {
				/*background-color:#434343;*/
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			
		</style>



        <div id="header"  style="float: right;" >
            <ul class="nav">
                <li><a href="{% url 'foros' %}"><img width="30" src="{% static 'svg/buscar_foros.svg' %}" title="Foros"></a></li>
                <li><a href="{% url 'login' %}"><img width="30" src="{% static 'svg/login.svg' %}" title="Iniciar Sesion"></a></li>
            </ul>
        </div>
        
    
    {% endblock %}
    
    {% block contenido %}
    {% endblock %}
